body {
  background-color: #242424;
}

.the-whole-form {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.enter-yo-stuff {
  border: 3px solid rgba(255, 255, 255, 0.815);
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #333;
}

.feedback-box {
  color: red;
  border: 3px solid white;
  border-radius: 25px;
  padding: 20px;
  background-color: #444;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h4 {
  color: white;
}
